@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, button, input, input:focus{
    text-decoration: none;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

body {
    font-family: "Roboto", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    width: 100%;
    height: 3.5rem;
    position: sticky;
    top: 0;
    background-color: rgb(1, 1, 66);
}

.nav-logo {
    font-family: "Libre Baskerville", serif;
    font-size: 1.3rem;
}

.nav-logo img{
    width: 2.2em;
}

.nav-logo, .nav-link, .nav-salir {
    cursor: pointer;
    color: #fff;
    transition: .4s;
}

.nav-logo:hover, .nav-link:hover, .nav-salir:hover {
    color: #ffffffa3;
}

.nav {
    display: flex;
    gap: 1rem;
}


footer {
    background-color:rgb(1, 1, 66);
    padding: 1.3rem 3rem;
    display: flex;
    flex-direction: column;
    row-gap: .8rem;
}

.footer-logo {
    font-family: "Libre Baskerville", serif;
    font-size: 2rem;
    color: #fff;
}

.footer-copy {
    font-size: 1rem;
    color: #fff;
    text-align: center;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

.footer-link {
    color: #ffffff8a;
    transition: .4s;
}

.footer-link:hover {
    color: #fff;
}








/*------------ POP UP ----------- */

.pop-up-fondo, .pop-up-salir{
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    
    width: 100%;
    height: 100%;

    display: none;
    justify-content: center;
    align-items: center;
}

.pop-up{
    width: 20em;
    padding: 2em;
    border-radius: .5em;

    position: fixed;
    z-index: 20;

    background-color: #fff;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    & p{
        text-align: center;
        font-size: 1.5em;
        margin-bottom: .5em;
    }
}

.pop-up-check{
    width: 6em;
}

.pop-up-btn{
    width: 100%;
    padding: 7px 0;
    background-color: rgba(1, 1, 66);
    color: #fff;
    font-size: 1rem;
    text-align: center;
    transition: .4s;
}

.pop-up-btn:hover {
    background-color: rgba(1, 1, 66, 0.729);
}
/*-------------------------------------------------*/


.menu-desplegable-oculto{
    background-color: rgba(1, 1, 66);
    width: 100%;
    padding: 2em;

    position: absolute;
    top: 2.7em;
    left: 0;

    display: none;
    flex-direction: column;
    gap: .7em;
    font-size: 1.2em;
}

#img-hamburguesa{
    display: none;
    cursor: pointer;
}


@media screen and (max-width: 835px) {
    .header .nav{
        display: none;
    }
    #img-hamburguesa{
        display: block;
    }
}