.datos-form-turno {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.agregar-campo-turnos {
    display: flex;
    flex-direction: column;
    row-gap: .6rem;
}
.agregar-vh-btn {
    position: absolute;
    bottom: 1.5rem;
    left: 7rem;
    background-color: rgb(0, 0, 63);
    color: #fff;
    font-size: 1.2rem;
    padding: 7px 50px;
    transition: .4s;
}

.agregar-vh-btn:hover {
    background-color: rgba(0, 0, 63, 0.695);
}

.data {
    width: 30%;
}

.input-hora {
    padding: 9px;
}

.label-vehiculos {
    font-size: 1.2rem;
    text-align: center;
}

.data-2-turnos {
    display: flex;
    column-gap: 2rem;
    align-items: center;
}

@media screen and (max-width: 930px){
    .datos-form-turno-p2 {
        flex-direction: column;
        align-items: center;
        row-gap: .5rem;
    }
    .data-1-turno-p2 {
        width: 55%;
    }
}

@media screen and (max-width: 850px){

    .data-1-turno-p2 {
        width: 65%;
    }
}

@media screen and (max-width: 780px){
    .data {
        width: 70%;
    }

    .datos-form-turno-r-p2 {
        flex-direction: column;
        row-gap: .5rem;
        align-items: center;
    }

    .turnos-bar {
        display: none;
    }
    .agregar-vh-btn {
        position: static;
        display: flex;
        width: 220px;
        font-size: 1rem;
        text-align: center;
        margin: 0 auto;
        margin-top: 1rem;
    }

    .siguiente-btn {
        position: absolute;
        font-size: 1rem;
        bottom: 1rem;
        right: 1rem;
    }

    .datos-form-turno-p2 {
        row-gap: 1rem;
        align-items: center;
    }
}

@media screen and (max-width: 650px){
    .data {
        width: 90%;
    }
}

@media screen and (max-width: 620px){
    .data-1-turno-p2 {
        width: 60%;
    }
}

@media screen and (max-width: 600px){
    .data-1-turno-p2 {
        width: 65%;
    }
}

@media screen and (max-width: 580px){
    .data-1-turno-p2 {
        width: 82%;
    }

    .data-2-turnos{
        width: 100%;
        flex-direction: column;

        & .agregar-campo{
            width: 82%;
        }
    }

    .siguiente-btn{
        right: 5em;
    }
}



